html {
    color-scheme: dark;
}

body {
    margin: 8px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 8px * 2);
}

.scrollable {
    overflow: auto;
}

.hidden {
    display: none;
}
